body {
    background-color: #4F7302;
    font-size: 16pt;
    padding: 8px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.menu {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 8px;
    background-color: #C0D904;
    list-style-type: none;
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.nav1 {
    border: 1px solid #2B4017;
    min-height: 32px;
    height: 75px;
}

.nav2 {
    min-height: 32px;
    height: 75px;
    margin-top: 30px;
}

nav li {
    float: left;
    margin-right: 20px;
    max-width: 250px;

}

nav a {
    display: block;
    color: #262626;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}

.head-name {
    width: 1400px;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.style2 {
    color: #ffffff;
    font-size: 20px;
}

.style1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 1.5em;
    letter-spacing: normal;
    word-spacing: 1px;
    line-height: 125%;
    color: #ffffff;
}

label {
    font-size: 18px;
    color: #ffffff;
}

.gender-label {
    margin-right: 100px; /* Додайте бажаний відступ між варіантами статі */
}

.b2 {
    width: 1400px;
    height: 980px;
    margin: 0 auto;
}

.form1 {
    background-color: #4F7302;
}

.img0 {
    width: 4%;
}

.img-1 {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 550px;
}

.img-2 {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 150px;
}

.block-border {
    margin-top: 20px;
    border-width: thin;
    height: 70px;
    border-style: solid;
    border-color: #ffffff;
}

.footer-block {
    width: 1400px;
    margin-top: 15px;
    color: #ffffff;
}

.little-block {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.little-footer {
    width: 500px;
    text-transform: none;
}

.block{
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cont1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left1 {
    width: 48%;
    background-color: #262626;
    padding: 10px;
}

.right1 {
    width: 48%;
    background-color: #262626;
    padding: 10px; 
}

.leftimg {
    float:left;
    margin: 5px;
    width: 165px;
}

.rightimg {
    float: right;
    margin: 5px; 
    width: 180px;
}

form {
    background-color: #262626;
}

.cont2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left2 {
    width: 50%;
    margin-left: 150px;
}

.right2 {
    width: 50%;
    margin-left: 300px; 
    margin-top: 100px;
}


input[type=text] {
    width: 80%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

input[type=tel], input[type=url], input[type=email], input[type=password] {
    width: 50%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

input[type=number] {
    width: 15%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

input[type=date] {
    width: 35%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

select {
    width: 50%;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: #83A603;
    width: 20%;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    margin-left: 270px;
}

.entrance {
  padding:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}
  
.entrance form {
    max-width:500px;
    padding:50px 70px;
    background-color: #262626;
}
  
.entrance .item {
    width: 100%;
    margin-bottom:25px;
    padding:10px 20px;
}

button[type=submit] {
    width: 50%;
    margin-left: 60px;
}

.cont3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left3 {
    width: 29%;
}

.right3 {
    width: 69%; 
}

input[type=text1] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 10;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

textarea {
    margin-top: 25px;
    margin-left: 30px;
}

.cont {
    padding: 100px 50px;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-right: 45px;
  }
  
  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;

  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 90%; 
    z-index: 1;
  }
